@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
    --font-style: 'Silkscreen', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #131315;
    font-family: var(--font-style);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #242026;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
    font-family: var(--font-style);
}

h1 {
    color: #fff;
    text-align: center;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pokemon {
    text-align: center;
    background: #242026;
    padding: 40px;
    border-radius: 10px;
    color: #fff;
}

.pokemon img {
    max-width: 200px;
    border: 1px solid #fff;
}
#dataType, #method,#pokemonName,#searchButton{
    font-family: var(--font-style);
    color: #fff;
    text-align: center;
    background: #242026;
    padding: 4px;
    border-radius: 10px;
    color: #fff;
}